Binaries
DerivedDataCache
Intermediate
Saved
Build
CMakeLists.txt
Makefile
SkyOfSteelCodeCompletionFolders.txt
SkyOfSteelCodeLitePreProcessor.txt
.vscode
.vs
.kdev4
.idea
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.pro
*.pri
*.kdev4
*.workspace
*.code-workspace
